body{
   background-image: url(../MHM/background.jpg);
   background-size: cover;
}

.container{
    display: grid;
    height: 90vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "header header"
    "main main "
    "footer footer";
    
}

header{
    display: grid;
    grid-area: header;
    justify-content: center;
    color: white;
}

#main{
    display: grid;
    grid-area: main;
    align-items: center;
    justify-items: center;
}

footer{
    display: grid;
    grid-area: footer;
    justify-content: center;
    align-items: end;
    color: white;
}
#page{
    width: 70%;
}

