body{
    background-color: aqua;
}

.container{
    display: grid;
    height: 90vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "header header"
    "main main "
    "footer footer";
    
}

header{
    display: grid;
    grid-area: header;
    justify-content: center;
}

#main{
    display: grid;
    grid-area: main;
}

footer{
    display: grid;
    grid-area: footer;
    justify-content: center;
    align-items: end;
}

